
body{
  background-color: gray;
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  padding: 0;
}

.model{
  width: 400px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px rgb(82, 82, 82);
  padding: 20px;
  margin: 100px auto;
  min-height: 400px;
  border-radius: 15px;
  overflow: hidden;
  transition: all .3s ease;
}

.model_two{
  width: 400px;
  margin:  auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px rgb(82, 82, 82);
  padding: 20px;
  margin: 100px;
  min-height: 400px;
}

.hidden_one{
  height: 0;
  opacity: 0;
  transform: translateX(-110%); 
  transition: transform 1s ease, opacity .5s ease;
}

.show_one{
  height: auto;
  transform: translateX(0);
  transition: transform 1s ease;
}